head
    title Add Category
    link(rel="stylesheet", href="/stylesheets/productEdit.css")
body
    h1 Add A New Category
    .form
        form(action="/category/insert" method="POST")
            label(for="categoryName") Category Name:
            input(type="text" name="categoryName" value="name" required)
            label(for="description") Description:
            textarea(name="description" required)= "Description"
            button(type="submit") Add New Category
            a(href=`/home`) Cancel
